*{
    font-family: "Comic Sans MS", "Comic Sans";
}
#title{
    background-color:black;
    color:white;
    display:block;
    height:50px;
    width: 100%;
}
#list{
    background-color:rgb(61, 0, 61);
    color:white;
    text-align: center;
    font-style:italic;
    font-weight: lighter;
    display:block;
    height:30px;
    width: 100%;
}
#contact{
    background-color:cornflowerblue;
    color: rgb(61, 0, 61);
    text-align: right;
    display:block;
    font-weight: lighter;
    text-decoration-line: underline;
    height:30px;
    width: 100%;
}
div{
    height:50px;
    width: 100%;
}
#title span{
    color:cyan;
}