* {  
	vertical-align: baseline;  
	font-family: inherit;  
	font-style: inherit;  
	font-size: 100%;  
	border: none;  
	padding: 0;  
	margin: 0;  
	}  
body {  
	padding: 5px;  
	}  
h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, ul, ol, dl {  
	margin: 20px 0;  
	}  
li, dd, blockquote {  
	margin-left: 40px;  
	}  
table {  
	border-collapse: collapse;  
	border-spacing: 0;  
	}

#container{
    height: 400px;
    width: 600px;
    border-color:black;
    border-width: 10px 10px;
    margin: 0 auto;
    background-color: whitesmoke;
    justify-content: space-between;
    align-items: center;
}

#color{
    height: 100px;
    width: 100%;
    background-color: darkcyan;
    display:block;
    justify-content: center;

}

#circle{
    height: 100px;
    width: 100px;
    position: relative;
    left: 50px;
    display:flex;
    justify-content: center;
    bottom: 50px;
    border-radius: 50%;
    background-color: white;
}

img{
    height: 100px;
    width: 100px;
    position: absolute;
    border-radius: 50%;
}

.data{
    width: 280px;
}

#geo{
    height: 20px;
    width: 20px;
}

